@model MyVet.Web.Data.Entities.Owner

@{
    ViewData["Title"] = "Details";
}

<h2>Owner</h2>

<div>
    <h4> Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Document)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Document)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt>
            # Pets
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pets.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="AddPet" asp-route-id="@Model.Id" class="btn btn-primary">Add Pet</a> |
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
@if (Model.Pets.Count == 0)
{
    <h4>Not pets added yet.</h4>
}
else
{
    <h4>List pets here.</h4 >
}